.navbar {
  background-color: #000;
  width: 100%;
}
.nav {
  background-color: #000;
  display: flex;
  list-style: none;
  word-spacing: 30px;
  flex-direction: row;
  justify-content: flex-start;
  
}
li, li :link, li :visited {
  flex-flow: row nowrap;
  color: white;
  text-decoration: none;
  margin: 10px 15px 10px 0px;
  padding: 10px 15px 10px 0px;
  font-size: 15px;
  height: 30px;
  width: 30px;
  @media (max-width: 300px){
    width: 100%;
    margin: auto;
    padding: auto;
  }
}
.icon {
  height: 55px;
  width: 55px;
  padding: 0 10px;
}